<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Administration</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

</head>

<body style="padding-top: 50px;">
    <div class="wrapper">
        <header th:insert="fragments/header :: header"> </header>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-md-5" style="padding-bottom: 15px;">
                        <div class="list-group">
                            <li class="list-group-item list-group-item-action active list-group-active">
                                Ajouter un gérant ou une boutique
                            </li>
                            <a th:href="@{/admin/gerant}" class="list-group-item list-group-item-action">Ajouter un gérant</a>
                            <a th:href="@{/admin/boutiques}" class="list-group-item list-group-item-action">Ajouter une boutique</a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-action active list-group-active">
                                Statistiques
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a th:href="@{/admin/tranfertsEnCours}">Transferts en cours</a>
                                <span class="badge badge-primary badge-pill" th:text="${nbTransfertsEncours}"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Transferts rendus
                                <span class="badge badge-primary badge-pill" th:text="${nbTransfertsRendus}"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Transferts desactives
                                <span class="badge badge-primary badge-pill" th:text="${nbTransfertsDesactives}"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Nombre de gérants
                                <span class="badge badge-primary badge-pill" th:text="${nbGerants}"></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Nombre de boutiques
                                <span class="badge badge-primary badge-pill" th:text="${nbBoutiques}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <div style="margin-top:90px"></div>
        <div th:replace="fragments/footer.html :: footer"></div>
    </div>
</body>
</html>