<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fiyahollo</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

    <header th:insert="fragments/header :: header"> </header>
</head>

<body>
<div class="container">
    <div class="fy-wrap">
        <h3>Historique d'envoi</h3>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">Statut</th>
                <th scope="col">Date</th>
                <th scope="col">Montant envoyé</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Numéro de téléphone</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr  th:if="${transferts.empty}">
                <td colspan="2"> Pas de transaction disponible</td>
            </tr>
            <tr th:each="transfert : ${transferts}">
                <td><input type="checkbox" th:checked="${transfert.status}"></td>
                <td><span th:text="${transfert.date}"> Date </span></td>
                <td><span th:text="${transfert.montant}"> Montant envoyé </span></td>
                <td><span th:text="${transfert.nom}"> Nom </span></td>
                <td><span th:text="${transfert.prenom}"> Prenom </span></td>
                <td><span th:text="${transfert.telephone}"> Numéro de téléphone </span></td>
                <td><a href="#">Envoyer à nouveau</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
<div th:replace="fragments/footer.html :: footer"></div>
</html>