<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <link href="../../static/css/connexion.css"
          th:href="@{/css/connexion.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
<div id="connexionContainer">
    <form  class="form" th:method="post">
        <p>
            <label>Email </label><br/>
            <input type="text" name="name"/>
        </p>
        <p>
            <label>Mot de passe</label><br/>
            <input  type="password" name="password" />
        </p>
        <button class="action-button">Se Connecter</button>
    </form>
</div>
</body>
</html>