<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FiyaHollo</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <header th:insert="fragments/header :: header"> </header>
</head>
<body>
<div class="card container jumbotron container-fluid mx-auto col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"  style="margin-top:85px ">
    <form class="fy-form-envoi" th:action="@{client}" th:object="${transfert}" method="post">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-7">
                    <select th:field="*{beneficiaire}" class="browser-default custom-select">
                        <option value="-1" selected>Selectionnez un bénéficiaire</option>
                        <option th:each="beneficiaire : ${transfert.client.beneficiaires}" th:value="${beneficiaire}"
                                th:text="${beneficiaire.nom + ' ' + beneficiaire.prenom + ' ' + beneficiaire.telephone}"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('beneficiaire')}" th:errors="*{beneficiaire}"></span>
                </div>
                <div class="col-xs-6 col-md-5">
                    <a class="nav-link button-link" th:href="@{/client/beneficiaires}">Ajouter bénéficiaire</a>
                </div>
            </div>
            <div style="margin-top:30px"></div>
            <div>
                <input type="submit" class="btn btn-primary btn-lg" value="Procéder au paiement">
            </div>
        </div>
    </form>
</div>
</body>
<footer>
    <div th:replace="fragments/footer.html :: footer"></div>
</footer>
</html>