<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FiyaHollo</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body style="padding-top: 50px;">
<div class="wrapper">
    <main>
        <div th:replace="fragments/stepperHeader.html :: stepperHeader(${step2}, ${step3})"></div>
        <div class="container">
            <div class="col-md-12">
                <h3> RÉCAPITULATIF</h3>
                <form th:action="@{/client/transfert}" th:object="${transfert}" method="post">
                    <input type="hidden" th:field="*{taux}">
                    <input type="hidden" th:field="*{frais}">
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <div class="form-row">
                                <div class="input-group mb-2 mr-sm-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                             <div class="input-group-text" for="montantEuros">Montant en €</div>
                                        </div>
                                        <input type="number" min="0" class="form-control" id="montantEuros"
                                                   onblur="checkPasswordValidity();"
                                                   th:field="*{montantEuros}" value="100" required>
                                        <div class="input-group-append">
                                            <span class="input-group-text" th:text="${'taux 1€ = '+transfert.taux+' GNF'}">1€ = 10600 GNF</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="my-1 mr-2" for="pointDeRetrait">Point de retrait</label>
                                <select class="custom-select browser-default" id="pointDeRetrait" th:field="*{boutique.nom}"
                                            oninvalid="this.setCustomValidity('Choisisez un point de retrait.')"
                                            oninput="setCustomValidity('')" required>
                                        <option disabled selected value="">Choisir le point de retrait</option>
                                        <option th:each="boutique : ${boutiques}"
                                                th:value="${boutique.nom}"
                                                th:utext="${boutique.ville + ' ' + boutique.description}"/>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-7">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-action active list-group-active">
                                    Synthèse
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Vous envoyez
                                    <span th:text="${transfert.montantEuros + ' €'}">0 GNF</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Montant GNF
                                    <span th:text="${transfert.montantEuros * transfert.taux +' GNF'}">0 GNF</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    Frais de transfert
                                    <span th:text="${transfert.frais +' €'}"> 0 €</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-3"></div>
                        <div class="col-xs-12 col-md-6"><button type="submit" class="btn btn-success button-link">Valider</button></div>
                        <div class="col-xs-12 col-md-3"></div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <div th:replace="fragments/footer.html :: footer"></div>
</div>
<script>
function checkPasswordValidity(){
    var montant = document.getElementById("montantEuros");
    if (!montant.checkValidity()) {
        montant.setCustomValidity("Le montant de l envoi doit être supérieur à 0,00 EUR.");
    } else {
        montant.setCustomValidity("");
    }
}
</script>
</body>
</html>