<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/index.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<connexion>
    <div class="fiyahollo-hide-under-767">
        <a th:href="@{/user/signIn}" class="fiyahollo-header-link">Connexion</a>
        <a th:href="@{/user/new}" class="fiyahollo-button fiyahollo-join-gradient">Inscription</a>
    </div>

    <div class="fiyahollo-show-under-767">
        <a href="#" class="fiyahollo-header-link">Connexion</a>
        <div class="fiyahollo-menu-separator"></div>
        <a href="#" class="dn-open-menu-btn">Menu</a>

        <div class="clear"></div>
    </div>
    </div>
</connexion>

</body>
</html>