<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
    <div th:fragment="footer">
    <footer class="page-footer special-color-dark pt-4">
        <div>
            <h2>Comment ça marche</h2>
        </div>
        <div class="container text-center text-md-left">
            <div class="row text-center text-md-left mt-3 pb-3">
                <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
                    <a id="header-logo" class="brand-navbar" href="/"></a>
                    <h6 class="text-uppercase mb-4 font-weight-bold">FiyaHollo Transfert</h6>
                    <p>Fiyahollo est une entreprise de tranfers d'argent vers la Guinée</p>
                </div>

                <hr class="w-100 clearfix d-md-none">

                <div class="col-md-4 col-lg-5 col-xl-5 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4">Produits</h6>
                    <p> <a th:href="@{/service-non-disponible}">Payer les factures de l'electricité pour vos proches</a> </p>
                    <p> <a th:href="@{/service-non-disponible}">Payer les factures d'eau pour vos proches</a> </p>
                    <p> <a th:href="@{/service-non-disponible}">Recharger les telephones de vos proches</a> </p>
                </div>

                <hr class="w-100 clearfix d-md-none">

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4">Contact</h6>
                    <p> <i class="fas fa-home mr-3"></i> Toulouse, France</p>
                    <p><a href="mailto:fiyahollo@gmail.com"><i class="fas fa-envelope mr-3"></i> info@samakala.com</a></p>
                    <p> <i class="fas fa-phone mr-3"></i> + 224 XX XX XX XX</p>
                </div>
            </div>

            <hr>

            <hr class="w-100 clearfix d-md-none">

            <div class="container-fluid text-center">
                <div>
                    Envoyez de l'argent en ligne á vos proches en Guinée
                </div>
                <hr>
                <div>
                    <a class="nav-link button-link" th:href="@{/utilisateur/inscription}">Inscrivez-vous maintenant</a>
                </div>
            </div>

            <hr>

            <hr class="w-100 clearfix d-md-none">

            <div class="row d-flex align-items-center">
                <div class="col-md-6 col-lg-6">
                    <!--Copyright-->
                    <p class="text-center text-md-left">© 2020 Copyright:
                        <a href="/" style="color: white;"><strong> samakala.com</strong></a>
                    </p>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="mb-5 flex-center">

                        <!-- Facebook -->
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f fa-lg blue-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="tw-ic">
                            <i class="fab fa-twitter fa-lg blue-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g fa-lg red-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in fa-lg blue-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
</body>
</html>
