<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <link th:href="@{/css/index.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<header>
    <div id="fiyahollo-header-bar">
        <div class="fiyahollo-wrap">
            <a id="fiyahollo-header-logo" href="#">fiyahollo.com</a>

            <div>
                <connexion th:insert="fragments/connexion :: connexion"> </connexion>
            </div>
        </div>
    </div>
</header>


</body>
</html>