#connexionContainer {
    width: 40%;
    margin: 200px auto;
    text-align: center;
    position: relative;
}

#connexionContainer p{
    margin-bottom: 15px;
}
/*inputs*/
#connexionContainer input {
    width: 40%;
}
