#inscriptionContainer {
    width: 50%;
    margin: 150px auto;
    text-align: center;
    position: relative;
}

#inscriptionContainer input {
    width: 80%;
}

.letfDiv{
    float: left;
    width: 50%
}

.rightDiv{
    float: right;
    width: 50%
}