body, html {
	margin: 0;
	padding: 0;
	outline: none;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
	min-height: 530px;
    height: 100%;
    font-size: 16px;
}

#header-logo {
	width: 140px;
	height: 48px;
	float: left;
	margin: 7px 0 0 1px;
	text-indent: -9999px;
	display: block;
	background: url(../img/logo192.png) 0 0 no-repeat;
	background-size: 140px 48px
}

.navbar-toggler{
    width: 47px;
    height: 34px;
    border:none;
    background-color: #61dafb;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}

.button-link {
    border: 5px solid #e1e1e1;
    border-width: 4px;
    border-radius: 12px;
    color: #fff;
    background: #00ab00;
}

/* ********************************************************************************************************************
 Contact
*/

.right-info {
    background: rgb(83, 160, 122);
}

.sendButton {
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
}

.col-md-3{
	padding: 4%;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

.col-md-9{
	padding: 3%;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

/*
***********************************************************************************************************************
*/
.gerant .titre-bar {
   height: 40px;
}

.gerant .titre-bar .custom-select {
    display: none;
}



/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    .gerant table.table-bordered.stats {
        width: 50%;
        text-align: center;
    }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  .gerant table.table-bordered.stats {
      width: 50%;
      text-align: center;
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .gerant table.table-bordered.stats {
      width: 50%;
      text-align: center;
  }

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
     .gerant {
            background: green;
       }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

     .gerant {
            background: yellow;

       }
       .gerant .titre-bar .nav {
                  display: none;
              }
       .gerant .titre-bar .custom-select {
           display: block;
       }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
     .gerant {
            background: gray;
       }
      .gerant .titre-bar .nav {
           display: none;
       }
       .gerant .titre-bar .custom-select {
            display: block;
       }
}

@media (max-width: 320px) {
     .gerant {
            background: gray;
       }
      .gerant .titre-bar .nav {
           display: none;
       }
       .gerant .titre-bar .custom-select {
            display: block;
       }
}


.form-envoie-argent {
    background: white;
}

.form-envoie-argent :hover {
    color: white;
}

.couleur-bouton-principal {
    background-color:  #45526e;
    color: white;
}

.btn {
    border-radius: 10em !important;
}

.button-envoyer-argent {
    border:  1px solid;
    color: white;
    font-weight: bold;
}

