<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fiyahollo</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <header th:insert="fragments/header :: header"> </header>
</head>

<body>
<div class="container">
    <div class="fy-wrap">
        <h1>FIYAHOOLO</h1>
        <h1>Envoyer de l'argent mobiles dans le monde entier</h1>
        <h2>Facile, Rapide et Fiable.</h2>
    </div>
    <a th:href="@{/transferts/}" class="button-link">Envoyer de l'argent</a>
</div>

</body>
<div th:replace="fragments/footer.html :: footer"></div>
</html>