<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Connexion</title>

        <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

        <header th:insert="fragments/header :: header"> </header>
    </head>

    <body>
            <div class="card container jumbotron container-fluid mx-auto col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" style="margin-top:85px">
                <h2>Connexion</h2>
                <form th:action="@{/utilisateur/connexion}" role="form" th:method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control form-control-lg" id="email"
                               aria-describedby="emailHelp" name="username" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="motDePasse">Mot de passe</label>
                        <input type="password" class="form-control form-control-lg" id="motDePasse"
                               name="password" placeholder="Mot de passe">
                    </div>

                    <span>
                        <a href="" class="btn btn-link pull-right">Mot de passe oublié ?</a>
                        <button type="submit" class="btn btn-primary float-right btn-lg">Connexion</button>
				    </span>
                </form>
            </div>
    </body>
    <div th:replace="fragments/footer.html :: footer"></div>
</html>