<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FiyaHollo</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <link th:href="@{/css/envoi.css}" rel="stylesheet" media="screen"/>
    <link href="../../static/css/navbar.css" th:href="@{/css/navbar.css}" rel="stylesheet" media="screen"/>
    <header th:insert="fragments/navbar :: navbar"> </header>
</head>

<body>
<div class="card container jumbotron container-fluid mx-auto col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3"  style="margin-top:85px ">
    <form class="fy-form-envoi" th:action="@{/transferts}" th:object="${transfert}" method="post">
        <div  th:if="${confirmationMessage}" class="alert alert-success"
              role="alert" th:text=${confirmationMessage}>
        </div>
        <h2>Envoi de l'argent</h2>
        <div class="form-group">
            <label for="telephone">Numero de telephone</label>
            <input type="text" class="form-control form-control-lg" id="telephone" placeholder="Numero de telephone"
                   th:field="*{telephone}"
            >
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nom">Nom</label>
                <input type="text" class="form-control form-control-lg" id="nom" placeholder="Nom"
                       th:field="*{nom}"
                >
            </div>
            <div class="form-group col-md-6">
                <label for="prenom">Prenom</label>
                <input type="text" class="form-control form-control-lg" id="prenom" placeholder="Prenom"
                       th:field="*{prenom}"
                >
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Montant en €</span>
            </div>
            <input type="text" class="form-control"
                   th:field="*{montantEuros}"
            >
            <div class="input-group-append">
                <span class="input-group-text">1€ = 10600 GNF</span>
            </div>
            <div class="input-group-append">
                <span class="input-group-text">0.00 GNF</span>
            </div>
        </div>

        <div>
            <input type="submit" class="btn btn-primary btn-lg" value="Procéder au paiement">
        </div>
    </form>

</div>
</body>
<footer>
    <div th:replace="fragments/footer.html :: footer"></div>
</footer>
</html>